In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as re

In [2]:
url="https://dir.indiamart.com/search.mp?ss=hp+laptop&src=as-popular%7Ckwd%3Dlaptop%7Cpos%3D4%7Ccat%3D-2%7Cmcat%3D-2%7Ckwd_len%3D6%7Ckwd_cnt%3D1&v=4&mcatid=&catid=&tags=stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164"

In [3]:
response=re.get(url)

In [4]:
response

In [5]:
bc=bs(response.text)

In [6]:
laptop_name=bc.select(".elps2 .cardlinks")

In [7]:
laptop_name

[<a class="cardlinks" href="https://www.indiamart.com/proddetail/refurbished-hp-15u-g3-i7-6th-gen-laptop-2850139280648.html?pos=1&amp;kwd=hp laptop&amp;tags=A|PL|||8741.812|Price|product|||LSlc|rsf:pl-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Refurbished <b>HP</b> 15U G3 I7 6TH Gen Laptop, 14 inches</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/refurbished-hp-laptop-640g5-i5-8th-gen-2853115069255.html?pos=2&amp;kwd=hp laptop&amp;tags=A|PL|||8741.812|Price|product|||LSlc|rsf:pl-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Refurbished <b>Hp</b> laptop 640g5 i5/8th gen, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-laptop-25087552030.html?pos=3&amp;kwd=hp laptop&amp;tags=A||||8211.142|Price|product|||SSnp|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank"><b>Hp</b> Laptop</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-refurbished-laptop-2854117243691.html?pos=4&amp;kwd=hp laptop&amp;tags=A||||8752.144|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Elitebook <b>HP</b> Refurbished Laptop, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/used-hp-laptop-26102897262.html?pos=5&amp;kwd=hp laptop&amp;tags=A||||8752.144|Price|product|||SSnp|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Used <b>Hp</b> Laptop</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/business-laptop-hp-probook-440-g8-2850305711362.html?pos=6&amp;kwd=hp laptop&amp;tags=A||||8223.226|Price|product|||SSnp|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Business Laptop <b>hp</b> probook 440 g8, 14 inches, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/used-hp-laptop-27218520991.html?pos=7&amp;kwd=hp laptop&amp;tags=A||||8211.142|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Used <b>HP</b> Laptop, in Maharahtra, in Mumbai</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-elitebook-laptop-2849670260230.html?pos=8&amp;kwd=hp laptop&amp;tags=A||||8601.347|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank"><b>Hp</b> elitebook Laptop</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-elitebook-840-laptop-g4-2850325469148.html?pos=9&amp;kwd=hp laptop&amp;tags=A||||8580.032|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank"><b>Hp</b> Elitebook 840 Laptop G4, 14 inches, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-840-g4-i5-7th-gen-touchscreen-laptop-2851156993733.html?pos=10&amp;kwd=hp laptop&amp;tags=A||||8752.144|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank"><b>HP</b> 840 g4 i5 7th Gen Touchscreen Laptop</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/hp-15s-fq5329tu-hp-laptop-2854293846055.html?pos=11&amp;kwd=hp laptop&amp;tags=A||||8223.226|Price|product|||SSnp|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank"><b>HP</b> 15S-FQ5329TUHP Laptop, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/refurbished-hp-elitebook-840-g2-laptop-2853149257862.html?pos=12&amp;kwd=hp laptop&amp;tags=A||||8211.142|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Refurbished <b>Hp</b> Elitebook 840 G2 Laptop, 256 GB, Core i5</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/840-g3-hp-elitebook-laptop-23960847448.html?pos=13&amp;kwd=hp laptop&amp;tags=A||||8752.144|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">840 G3 <b>HP</b> Elitebook Laptop</a>,
 <a class="cardlinks" href="https://www.indiamart.com/proddetail/second-hp-laptop-elitebook-x360-1030-g2-2849665578891.html?pos=14&amp;kwd=hp laptop&amp;tags=A||||8211.142|Price|product|||TS|rsf:gd-|-stype:attr=1-br|qr_nm:gd|res:RC5|com-cf:nl|ptrs:na|ktp:N0|mc:181436|mtp:Brn|qry_typ:P|lang:en|wc:2|flavl:10|cs:10164|v=4" target="_blank">Second <b>Hp</b> Laptop Elitebook X360 1030 G2</a>]

In [8]:
laptop_data=pd.DataFrame(laptop_name,columns=["name"])

C:\Users\ADMIN\anaconda3\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [10]:
laptop_data

                                                 name
0   [Refurbished , [HP],  15U G3 I7 6TH Gen Laptop...
1   [Refurbished , [Hp],  laptop 640g5 i5/8th gen,...
2                                     [[Hp],  Laptop]
3    [Elitebook , [HP],  Refurbished Laptop, Core i5]
4                              [Used , [Hp],  Laptop]
5   [Business Laptop , [hp],  probook 440 g8, 14 i...
6    [Used , [HP],  Laptop, in Maharahtra, in Mumbai]
7                           [[Hp],  elitebook Laptop]
8   [[Hp],  Elitebook 840 Laptop G4, 14 inches, Co...
9       [[HP],  840 g4 i5 7th Gen Touchscreen Laptop]
10            [[HP],  15S-FQ5329TUHP Laptop, Core i5]
11  [Refurbished , [Hp],  Elitebook 840 G2 Laptop,...
12                 [840 G3 , [HP],  Elitebook Laptop]
13    [Second , [Hp],  Laptop Elitebook X360 1030 G2]

In [11]:
laptop_price=bc.select(".price")

In [12]:
laptop_data["price"]=laptop_price

In [13]:
laptop_data

,name,price
0,"[Refurbished , [HP], 15U G3 I7 6TH Gen Laptop...","[₹, , 45,000, [ , , /Piece]]"
1,"[Refurbished , [Hp], laptop 640g5 i5/8th gen,...","[₹, , 20,000, [ , , /Piece]]"
2,"[[Hp], Laptop]","[₹, , 52,000, [ , , /Piece]]"
3,"[Elitebook , [HP], Refurbished Laptop, Core i5]","[₹, , 24,000, [ , , /Piece]]"
4,"[Used , [Hp], Laptop]","[₹, , 15,000, [ , , /Piece]]"
5,"[Business Laptop , [hp], probook 440 g8, 14 i...","[₹, , 59,000, [ , , /Piece]]"
6,"[Used , [HP], Laptop, in Maharahtra, in Mumbai]","[₹, , 12,000, [ , , /Piece]]"
7,"[[Hp], elitebook Laptop]","[₹, , 26,500, [ , , /Piece]]"
8,"[[Hp], Elitebook 840 Laptop G4, 14 inches, Co...","[₹, , 18,500, [ , , /Piece]]"
9,"[[HP], 840 g4 i5 7th Gen Touchscreen Laptop]","[₹, , 25,016, [ , , /Piece]]"
10,"[[HP], 15S-FQ5329TUHP Laptop, Core i5]","[₹, , 48,000, [ , , /Piece]]"
11,"[Refurbished , [Hp], Elitebook 840 G2 Laptop,...","[₹, , 18,999, [ , , /Piece]]"
12,"[840 G3 , [HP], Elitebook Laptop]","[₹, , 13,000, [ , , /Piece]]"
13,"[Second , [Hp], Laptop Elitebook X360 1030 G2]","[₹, , 30,000, [ , , /Piece]]"

In [14]:
laptop_address=bc.select(".elps1")

In [15]:
laptop_data["Address"]=laptop_address

In [16]:
laptop_data

,name,price,Address
0,"[Refurbished , [HP], 15U G3 I7 6TH Gen Laptop...","[₹, , 45,000, [ , , /Piece]]","[ , , Sector 9, , , Gurgaon, , ]"
1,"[Refurbished , [Hp], laptop 640g5 i5/8th gen,...","[₹, , 20,000, [ , , /Piece]]","[ , , Sector 9, , , Gurugram, , ]"
2,"[[Hp], Laptop]","[₹, , 52,000, [ , , /Piece]]","[ , , Grant Road, , , Mumbai, , ]"
3,"[Elitebook , [HP], Refurbished Laptop, Core i5]","[₹, , 24,000, [ , , /Piece]]","[ , , New Delhi, , ]"
4,"[Used , [Hp], Laptop]","[₹, , 15,000, [ , , /Piece]]","[ , , Naraina, , , New Delhi, , ]"
5,"[Business Laptop , [hp], probook 440 g8, 14 i...","[₹, , 59,000, [ , , /Piece]]","[ , , vashi, , , Thane, , ]"
6,"[Used , [HP], Laptop, in Maharahtra, in Mumbai]","[₹, , 12,000, [ , , /Piece]]","[ , , Princess Dock, , , Mumbai, , ]"
7,"[[Hp], elitebook Laptop]","[₹, , 26,500, [ , , /Piece]]","[ , , Murlipura, , , Jaipur, , ]"
8,"[[Hp], Elitebook 840 Laptop G4, 14 inches, Co...","[₹, , 18,500, [ , , /Piece]]","[ , , lawrence road, , , Amritsar, , ]"
9,"[[HP], 840 g4 i5 7th Gen Touchscreen Laptop]","[₹, , 25,016, [ , , /Piece]]","[ , , Uttam Nagar, , , New Delhi, , ]"
10,"[[HP], 15S-FQ5329TUHP Laptop, Core i5]","[₹, , 48,000, [ , , /Piece]]","[ , , GRANT ROAD, , , Thane, , ]"
11,"[Refurbished , [Hp], Elitebook 840 G2 Laptop,...","[₹, , 18,999, [ , , /Piece]]","[ , , Sakinaka, , , Mumbai, , ]"
12,"[840 G3 , [HP], Elitebook Laptop]","[₹, , 13,000, [ , , /Piece]]","[ , , Patparganj Industrial Area, , , New De..."
13,"[Second , [Hp], Laptop Elitebook X360 1030 G2]","[₹, , 30,000, [ , , /Piece]]","[ , , Malad East, , , Mumbai, , ]"